{% extends 'layout/base.html' %} {% block pagetitle %}Gallery{% endblock %} {%
block container %}
<div class="container">
  {% with blobs =blobs %}{% include 'layout/gallery-view.html' %}{% endwith %}
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</div>
{% endblock %}
