{% extends 'layout/base.html' %} {% block pagetitle %}Play{% endblock %} {%
block container %}
<div class="row marketing">
  <div class="col-lg-6">
    <h4>{{ title.title() }}</h4>
    <div>
      <iframe
        width="560"
        height="315"
        src="{{ player_widget_url | safe }}"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
    <span class="badge badge-primary">{{ badge.title() }}</span>
    <p>Uploaded {{ elapsed_time}} by <em>@{{ uploader_username }}</em>.</p>
    <p style="font-weight: 300; text-align: left">{{ description }}</p>
    <div>
      <iframe
        width="800"
        height="1000"
        src="{{ insights_widget_url | safe }}"
        frameborder="0"
        allowfullscreen
      ></iframe>
      <script src="https://breakdown.blob.core.windows.net/public/vb.widgets.mediator.js"></script>
    </div>
  </div>

  <!-- <div class="col-lg-6">
    <p>
      Posted by <strong>Chris Lloyd-Jones</strong> at <strong>10:54 am</strong>
    </p>
  </div> -->
</div>
{% endblock %}
