<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills float-right">
            <li class="nav-item">
                <NavLink class="nav-link" href="record">
                    Record
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="gallery">
                    Gallery
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="about">
                    About
                </NavLink>
            </li>
        </ul>
    </nav>
    <a href="/" class="text-muted">
        <h3 class="text-muted">TeamsVid</h3>
    </a>
</div>