<p>
    <img src=@ImageUrl height="128" width="128" style="">
</p>
<p>
    <em>@Title</em> by @Author, @Time.
</p>
<span class="badge badge-primary" style="">@Badge</span>


@code {
    [Parameter] public String ImageUrl { get; set; }
    [Parameter] public String Title { get; set; }
    [Parameter] public String Author { get; set; }
    [Parameter] public String Time { get; set; }
    [Parameter] public String Badge { get; set; }
}