@page "/record"

<h1>Record your masterpiece</h1>
@if (!uploadStarted) {
    <RadzenUpload Multiple="false" ChooseText="Record or Select Video" Accept="video/*" Url="upload/single" Progress=@(args
            => OnProgress(args))  Complete=@OnComplete />
}

@if (uploadStarted)
{
    @if (progress!=100) {
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="@progress"
            aria-valuemin="0" aria-valuemax="100" style="width:@progress%">
                <span class="sr-only">@progress% Complete</span>
            </div>
        </div>

        <div class="alert alert-info">
            <strong>Uploading!</strong> Your video is being uploaded.
        </div>
    } else {
        <div class="alert alert-success">
            <strong>Upload Complete.</strong> Your video has been uploaded for processing, and will be posted to Teams shortly.
        </div>
    }
}

@code {
    int progress=0;
    bool uploadStarted = false;

    void OnProgress(UploadProgressArgs args)
    {
        progress = args.Progress;
        uploadStarted = true;

        Console.WriteLine($"Percent: {args.Progress}");
        if (args.Progress == 100)
        {
            foreach (var file in args.Files)
            {
                Console.WriteLine($"File streamed to Blazor- {file.Name} / {file.Size} bytes");
            }
        }
    }

    void OnComplete(UploadCompleteEventArgs args)
    {
        Console.WriteLine($"Server response: {args.RawResponse}");
    }
}