@page "/play"

<div class="row marketing">
    <div class="col-lg-6">
        <h4>On the move</h4>
        <div data-component-video="" style="min-height:240px;min-width:240px;position:relative"><iframe frameborder="0"
                src="https://www.youtube.com/embed/-stFvGmg1A8"
                style="width:100%;height:100%;position:absolute;left:0px;pointer-events:none"></iframe></div>
        <span class="badge badge-primary" style="">Emerging Tech</span>
        <p style="font-weight: 300; text-align: left;">"Text"</p>
    </div>

    <div class="col-lg-6">
        <p>Posted by <strong>Chris Lloyd-Jones</strong> at <strong>10:54 am</strong></p>
    </div>
</div>